* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid .navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.container-flui .btn {
    color: black;
}

.container-fluid img {
    height: 5vh;

}

.navbar ul li a {
    color: black;
  
}

.navbar ul li a:hover {
    transition: .4s ease-in-out;
    font-weight: bold;
}

.card-group {
    padding: 0px 20px;
    gap: 1rem;
}

.card-group .card h5 {
    color: rgb(152, 149, 149);
    font-size: 15px;
}

.card-group .card .card-text {
    font-weight: bold;
}

.card-group .card .card-text button {
    background: transparent;
    color: black;
    font-weight: bold;
}

.card-group .card .card-text button:hover {
    background-color: #000;
    color: white;
    transition: all .4s ease-in-out;
}


.container-md a {
    font-size: 30px;
    font-weight: bold;
}

.container-md button {
    color: #000;
    font-size: 20px;
}

.container-md button:hover {
    color: rgb(99, 96, 96);
}

.container-xxl {
    display: flex;
    margin-top: 3%;
    gap: 1rem;
}

.container-xxl .col .im .p {
    margin-bottom: 3%;
}

.container-xxl video {
    height: 100vh;
}

.container-xxl .col .img button {
    background: transparent;
    color: black;
    font-weight: bold;
}

.container-xxl .col .img button:hover {
    background-color: #000;
    color: white;
    transition: all .4s ease-in-out;
}

.img h5 {
    color: rgb(152, 149, 149);
    font-size: 15px;
    text-align: start;
}

.img .card-text {
    font-weight: bold;
    margin-top: 2%;
    text-align: start;
}

.img .para {
    text-align: start;
}

.container-xxl .rom img {
    filter: brightness(50%);
}

.container-xxl .rom img:hover {
    filter: brightness(100%);
    scale: 99%;
    transition: all 1s ease-in-out;

}

.container-xxl .ram img {
    filter: brightness(70%);
}

.container-xxl .ram img:hover {
    filter: brightness(100%);
    scale: 99%;
    transition: all .3s ease-in-out;

}

.contain h2 {
    border-bottom: 4px solid black;
}

.contain h2:hover {
    width: 100px;
    transition: all 5s ease-in-out;

}

footer {
    padding: 0px 15px;
    background: #000;
    color: white;
    margin-top: 3%;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #949090;
    transition: .4s;
}
footer a i {
    font-size: 25px;
    margin-right: 15px;

}
footer .card-img-top {
    width: 50%;
}

/* Add styles for the hover effect */
.fa-solid:hover {
    scale: 110%;

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
@media(max-width:900px) {
    .img .card-text {
        font-weight: bold;
        margin-top: 2%;
        font-size: 13px;
        text-align: start;
    }

    .container-xxl .col .img button {
        background: transparent;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }

    footer .card-img-top {
        width: 55%;
    }
}

@media(max-width:800px) {
    .container-xxl .col .img button {
        background: transparent;
        color: black;
        font-size: 13px;
        margin-bottom: 7%;
        font-weight: bold;
    }

    .img .card-text {
        font-weight: bold;
        margin-top: 2%;
        font-size: 12px;
        text-align: start;
    }
}

@media(max-width:750px) {
    .container-xxl video {
        height: 85vh;
    }

    .img .card-text {
        font-weight: bold;
        margin-top: 2%;
        font-size: 16px;
        text-align: start;
    }

    .container-xxl {
        display: flex;
        margin-top: 3%;
        gap: 1rem;
        flex-direction: column;
    }

    .container-xxl .col .img button {
        background: transparent;
        color: black;
        font-size: 16px;
        margin-bottom: 7%;
        font-weight: bold;
    }

    .contain h2 {
        border-bottom: none
    }
}

@media(max-width:700px) {
    .container-xxl video {
        height: 60vh;
    }

    .card-group .card .card-text {
        font-weight: bold;
        font-size: 12px;
    }

    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 11px;
        font-weight: bold;
    }
}

@media(max-width:650px) {
    .container-xxl video {
        height: 60vh;
    }

    .card-group .card .card-text {
        font-weight: bold;
        font-size: 10px;
    }

    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 11px;
        font-weight: bold;
    }
}

@media(max-width:600px) {
    .container-xxl video {
        height: 60vh;
    }

    .card-group .card .card-text {
        font-weight: bold;
        font-size: 10px;
    }

    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 11px;
        font-weight: bold;
    }
}

@media(max-width:550px) {
    .card-group .card .card-text {
        font-weight: bold;
        font-size: 16px;
    }
    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .container-xxl video {
        height: 50vh;
    }
}

@media(max-width:500px) {
    .card-group .card .card-text {
        font-weight: bold;
        font-size: 16px;
    }
    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .container-xxl video {
        height: 50vh;
    }
}

@media(max-width:450px) {
    .img .card-text {
        font-weight: bold;
        margin-top: 2%;
        font-size: 15px;
        text-align: start;
    }

    .container-xxl .col .img button {
        background: transparent;
        color: black;
        font-size: 14px;
        margin-bottom: 7%;
        font-weight: bold;
    }

    .container-xxl video {
        height: 50vh;
    }
}

@media(max-width:400px) {
    .img .card-text {
        font-weight: bold;
        margin-top: 2%;
        font-size: 13px;
        text-align: start;
    }

    .container-xxl video {
        height: 50vh;
    }
    footer .card-img-top {
        width: auto;
    }
    .card-group .card .card-text {
        font-weight: bold;
        font-size: 16px;
    }
    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
}
@media(max-width:350px){
    .container-md a {
        font-size: 25px;
        font-weight: bold;
    }
    .card-group .card .card-text {
        font-weight: bold;
        font-size: 16px;
    }
    .card-group .card .card-text button {
        background: transparent;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .img .card-text {
        font-weight: bold;
        margin-top: 2%;
        font-size: 11px;
        text-align: start;
    }
    .container-xxl .col .img button {
        background: transparent;
        color: black;
        font-size: 11px;
        margin-bottom: 7%;
        font-weight: bold;
    }
    footer .card-img-top {
        width: auto;
    }
}