* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid .navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.container-flui .btn {
    color: black;
}

.container-fluid img {
    height: 5vh;

}

.navbar ul li a {
    color: black;

}

.navbar ul li a:hover {
    transition: .4s ease-in-out;
    font-weight: bold;
}
.contain h1 {
    font-weight: bold;
}

.cont .row .col{
     border: 1px solid #d9d9d9;;
    padding: 8px 30px;
    font-weight: 600;
}
.cont .row .mum{
    background-color: #d9d9d9;
}
.container-xl{
    margin-top: 2%;
}
iframe{
    width: 100%;
}
footer {
    padding: 0px 15px;
    background: #000;
    color: white;
    margin-top: 3%;
}
 .card-body  .para{
     font-weight:bold ;
     font-size: 19px;
 }
 .card-body  p small{
    font-weight: 500; 
     font-size: 16px;

 }
footer a {
    color: white;   
    text-decoration: none;

}
footer a:hover{
    color: #949090;
    transition: .4s;
}
footer a i {
    font-size: 25px;
    margin-right: 15px;

}

footer .card-img-top {
    width: 50%;
}
.fa-solid:hover {
    scale: 110% ; 
     
 }
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }